{% extends 'base.html' %}

{% block content %}

<div class="flex flex-col items-center">
  <div class="text-4xl my-5">Add Record</div>

  <form method="POST" action="{% url 'add_record' %}"  class="w-[50%]">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="flex space-x-2">
      <button class="bg-blue-500 text-white text-2xl my-5 rounded w-full hover:bg-blue-600 py-4 ">
        Add Record
      </button>

      <a href="{% url 'home' %}" class="bg-gray-500 text-white text-2xl my-5  text-center rounded w-full hover:bg-gray-600 py-4 ">
        Back
      </a>      
    </div>


  </form>  
</div>



{% endblock %}