{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}

<div class="flex flex-col justify-center items-center text-gray-500">
  {% if user.is_authenticated %}
    <!-- <div>Welcome</div> -->
    <!-- 1:26:26 -->
    <div>Records Records...</div>

    <table class="table-auto">
      <thead>
        <tr class="border-b border-t bg-gray-50">
          <th class=" px-7 py-2">ID</th>
          <th class=" px-7 py-2">First Name</th>
          <th class=" px-7 py-2">Last Name</th>
          <th class=" px-7 py-2"> Email </th>
          <th class=" px-7 py-2"> Phone </th>
          <th class=" px-7 py-2"> Address </th>
          <th class=" px-7 py-2"> City </th>
          <th class=" px-7 py-2"> State </th>
          <th class=" px-7 py-2">Zipcode </th>
          <th class=" px-7 py-2">Created At </th>
        </tr>
      </thead>
      <tbody>
        {% if records %}
          
          {% for record in records%}
          <tr class="text-xs">
              <th class="py-2"><a href="{% url 'record' record.id %}">{{ record.id }}</a></th>
              <th class="py-2"><a href="{% url 'record' record.id %}">{{ record.first_name }}</a></th>
              <th class="py-2"><a href="{% url 'record' record.id %}">{{ record.last_name }}</a></th>
              <th class="py-2"><a href="{% url 'record' record.id %}">{{ record.email }}</a></th>
              <th class="py-2"><a href="{% url 'record' record.id %}">{{ record.phone }}</a></th>
              <th class="py-2"><a href="{% url 'record' record.id %}">{{ record.address }}</a></th>
              <th class="py-2"><a href="{% url 'record' record.id %}">{{ record.city }}</a></th>
              <th class="py-2"><a href="{% url 'record' record.id %}">{{ record.state }}</a></th>
              <th class="py-2"><a href="{% url 'record' record.id %}">{{ record.zipcode }}</a></th>
              <th class="py-2"><a href="{% url 'record' record.id %}">{{ record.created_at}}</a></th>              
          </tr>
          {% endfor %}
          
        {% endif %}
      </tbody>

    </table>

     


  {% else %}
  <div class="text-5xl font-semibold my-5">Login</div>

  <form method="POST" action="{% url 'home' %}" >
    {% csrf_token %}

    <div class="flex flex-col space-y-3 my-5">
      <input type="text" name="username" placeholder="Username" required class="bg-gray-50 outline-none rounded px-3 py-2">  
  
      <input type="password" name="password" placeholder="Password" required class="bg-gray-50 outline-none rounded px-3 py-2">       
      
      <button class="bg-blue-500 text-white text-lg rounded hover:bg-blue-600 py-2">
        Login
      </button>
    </div>



  </form>
  {% endif %}
</div>



{% endblock %}