{% extends 'base.html' %}
{% block content %}

  <div class="flex flex-col justify-center items-center">
    <div class="text-5xl font-semibold my-6">Register</div>

    <form method="POST" action="">
      {% csrf_token %}

      {% if form.errors %}
        Your form has error.
        {% for field in form %}
          {% if field.errors %}
            {{field.errors}}
          {% endif %}
        {% endfor %}
      {% endif %}

      {{ form.as_p }}

      <button class="bg-blue-500 text-white px-5 py-2 rounded hover:bg-blue-600 my-5 w-[100%]">
        Register
      </button>

    </form>    
  </div>





{% endblock %}